{% include 'includes/header.html' %}
{% include 'includes/navbar.html' %}
<body>
<div class="box">
<h2>Find account to Delete</h2>
    <form method="POST" action="">
       <table>
           <tr>
               <td>Enter SSNid</td>
               <td><input type="number" required name='SSNid'min=100000000 max=999999999 title='9 digit required'></td>
           </tr>
           <tr><td style="padding-top: 20px;padding-left: 67px;">
           
        <button type="submit" style="width:100px;height:30px;"><h4>Find Customer</h4></button>
        </td></tr>
    </form>
    <form method="POST" action="">
           <tr >
               <td style="padding-top: 20px;">Enter Customerid</td>
               <td style="padding-top: 20px;"><input type="number" name=customerid min=100000000 max=999999999 title='9 digit required'></td>
           </tr>
           <tr>
            <td style="padding-top: 20px;padding-left: 67px;">
        
            <button type="submit" style="width:100px;height:30px;"><h4>Find Customer</h4></button>
        </td>
        </tr>
        </table>
    </form>
</div>
</body>
{% include 'includes/footer.html' %}