{% include 'includes/header.html' %}
<body>
  <div class="navbar">
    <a href="/home">Home</a>
</div>
 
<div class="box">
<h2>LOGIN</h2>

<form name="form" action="" method="POST">
  <div class="inputbox">
    <input type="email" name='email' required="" autofocus autocomplete="off">
    <label>Email</label>
  </div>
  <div class="inputbox">
     <input type="password" name='password' required="" autocomplete="off">
     <label>Password</label>
    </div>

      <button type="submit" style="width:200px;height:50px;margin-left: 60px;" ><h3>Login</h3></button>

</form>
</div>
</body>