<div class="footer">
    <div class="footer-content">
    <div class="footer-section about">
        <h2>About Us</h2><br/>
        <p>FedChoice Bank was found on 14th june 2016 with the objective 
            of providing with the digital services based on retail banking operations.The retail internet Banking of FedChoice Bank offers a plethora of products and services, to cater its customers.
        </p>
    </div>
    <div class="footer-section services">
        <h2>Services</h2><br>
        <ul>
            <li>Retail and Customer Banking</li>
            <li>Personal Internet Banking</li>
            <li>Corporate Internet Banking</li>
            <li>Debit and Credit Cards</li>
        </ul> 
    </div>
    <div class="footer-section contact">
        <h2>Contact Us</h2><br>
        <p>Email:customer.services@fedchoice.com</p>
        <p>Contact No:022-42406778,022-54567890</p>
        <p>Address:Corporate Office,Madame Cama Road,</p>
        <p>Nariman Point,Mumbai,Maharashtra 400021</p>
    </div>
    </div>
    <div class="footer-bottom">
        &copy; Copyright | All rights reserved by FedChoice Bank
    </div>
</div>
